---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

import Testimonial from '../../ui/cards/TestimonialCard.astro'

// Data import
import testimonials from '../../../data/json-files/testimonials.json'

type Props = {
  classes?: string
}
const { classes } = Astro.props

// Helper: splits de testimonials in groepen van max. 4
const chunkArray = (arr: any[], size: number) =>
  Array.from({ length: Math.ceil(arr.length / size) }, (_, i) =>
    arr.slice(i * size, i * size + size)
  )
const testimonialChunks = chunkArray(testimonials, 4)
---

<Section id="requests" classes={classes}>
  <Row>
    <Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
      <h2 class="text-balance">
        Benieuwd wat anderen van <strong>JouwGolftrip</strong> vinden?
      </h2>
      <p class="pb-0 text-lg">
        Van korte weekendtrips tot lange(re) vakanties – deze golfers zijn door JouwGolftrip geadviseerd voor een onvergetelijke reis.
      </p>
    </Col>
  </Row>

  {testimonialChunks.map((chunk) => (
    <div class="mb-8">
	<Row>
      {chunk.map((t) => (
        <Col span="3">
          <Testimonial
            name={t.name}
            date={t.date}
            flag={t.flag}
            text={t.text}
          />
        </Col>
      ))}
    </Row>
	</div>
  ))}
</Section>
